<footer class="site-footer">
    <div class="container site-footer__inner">
      <nav class="site-footer__nav">
        <a href="{{ '/privacy/' | relative_url }}">Privacy Policy</a><br>
        <a href="{{ '/terms/' | relative_url }}">Terms of Use</a><br>
        <a href="{{ '/contact/' | relative_url }}">Contact</a><br>
      </nav>
      <div class="site-footer__social">
        <a href="https://github.com/5h1Vm/mitre-module" target="_blank">GitHub Repository</a>
      </div>
      <p class="site-footer__copyright">
        © 2025 Kopal Chaturvedi. All rights reserved.
      </p>
    </div>
  </footer>