<!-- _includes/header.html -->
<nav class="navbar">
    <div class="container">
      <div class="logo">
        <a href="{{ "/" | relative_url }}">
          <img src="{{ site.logo | relative_url }}" alt="Logo" class="logo__img"/>
        </a>
      </div>
      <div class="site-title">
        <a href="{{ "/" | relative_url }}">{{ site.title }}</a>
      </div>
      <ul class="nav-links">
        <li><a href="{{ "/introduction/" | relative_url }}">Introduction</a></li>
        <li><a href="{{ "/basics/" | relative_url }}">ATT&CK Basics</a></li>
        <li><a href="{{ "/lessons/" | relative_url }}">Lessons</a></li>
        <li><a href="{{ "/resources/" | relative_url }}">Resources</a></li>
        <li><a href="{{ "/about/" | relative_url }}">About</a></li>
      </ul>
    </div>
  </nav>
  